.video {
    position: absolute;
    position: fixed;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
    }

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    
    &__logo {
        width: 250px;

        @media all and (min-width: 768px) {
            width: 350px;
        }

        @media all and (min-width: 1200px) {
            width: 400px;
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    @media all and (min-width: 1200px) {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    
        @media all and (min-width: 768px) {
            justify-content: center;
        }

        @media all and (min-width: 1200px) {
            flex-direction: row;
            margin-left: 15px;
        }
    
        &_label {
            font-family: 'Benne', sans-serif;
            font-size: 20px;
            font-weight: bold;
            margin-top: 10px;
            color: white;
            width: 160px;
            height: 20px;
    
            @media all and (min-width: 1200px) {
               margin-left: 20px;
            }
        }
    
        &_input {
            width: 300px;
            height: 20px;

            @media all and (min-width: 1200px) {
                width: 250px;
                height: 20px;
                margin-right: 30px;
            }
        }
    
        &_select {
            width: 150px;
            height: 25px;
            font-family: 'Benne', sans-serif;
            font-size: 20px;
            padding-top: 2px;
    
            @media all and (min-width: 1200px) {
                width: 200px;
            }
        }

        &_reset {
           width: 50px;
           margin-right: 10px;
           align-self: flex-end;
           font-family: 'Benne', sans-serif;
           font-size: 15px;
           background-color: #F5B041;
           padding-top: 5px;


            @media all and (min-width: 768px) {
                font-size: 20px;
                width: 70px;
            }
    
            @media all and (min-width: 1200px) {
               margin-left: 30px;
            }
        }
    }
}   
    
    .ul {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding: 0;
        
        @media all and (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            column-gap: 90px;
        }

        @media all and (min-width: 1200px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-items: center;
            margin-top: 30px;
            gap: 30px;
        }
    }
    
    .li {
        display: flex;
        flex-direction: column;
        align-self: center;
        background-color: #F5B041;
        width: 220px;
        height: 400px;
        margin-bottom: 20px;
        text-decoration: none;
        border: solid 2px black;

        @media all and (min-width: 1200px) {
            align-items: center;
        }
        
        &__img {
            width: 220px;
            height: 300px;
        }
    
        &__name {
            margin: 10px 0 0 10px ;
            font-family: 'Benne', sans-serif;
            font-size: 22px;
            font-weight: bold;
            text-align: center;
            color: black;
        }
        
        &__gender {
            margin: 5px 0 0 10px ;
            font-family: 'Benne', sans-serif;
            font-size: 18px;
            color: black;
        }

        &__specie {
            margin: 5px 0 0 10px ;
            font-family: 'Benne', sans-serif;
            font-size: 18px;
            color: black;
        }
    }

.divError {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    border: solid 2px black;
    background-color: #F5B041;
    width: 200px;
    font-family: 'Benne', sans-serif;
    font-size: 20px;
    text-align: center;
    @media all and (min-width: 768px) {
        width: 500px;
        font-size: 30px;
    }

    @media all and (min-width: 1200px) {
       width: 600px;
       font-size: 50px;
    }
}

.link {
    text-decoration: none;
}

.detail {
    margin-top: 10px;
    display: flex;
    
    &__article {
        display: flex;
        flex-direction: column;
        align-self: center;
        background-color: #A93226;
        width: 280px;
        height: 700px;
        margin-bottom: 20px;
        text-decoration: none;
        border: solid 2px black;

        @media all and (min-width: 1200px) {
            flex-direction: row;
            width: 550px;
            height: 350px;
        }
        
        &_img {
            @media all and (min-width: 1200px) {
                height: 350px;
            }
        }

        &_div {

            &-name {
                margin: 10px 0 0 10px ;
                font-family: 'Benne', sans-serif;
                font-size: 30px;
                font-weight: bold;
                text-align: center;
                color: black;
            }

            &-fact {
                margin: 10px 0 0 15px ;
                font-family: 'Benne', sans-serif;
                font-size: 25px;
                color: black;
            }
        }
    }
}

.alive {
    width: 50px;
}

.dead {
    width: 30px;
}

.hogwarts {
    width: 30px;
}

.return {
    width: 50px;
           margin-right: 10px;
           align-self: flex-end;
           font-family: 'Benne', sans-serif;
           font-size: 20px;
           background-color: #A93226;
           padding-top: 5px;
           width: 70px;
}